body {
    overflow-y: hidden;
}

#dialogContent_auth-dialog {
    height: 285px;
    width: 300px;
}

#sidenav {
    min-width: 20vw;
}

#email-template-body-editor,
#email-template-data-editor {
    overflow: hidden;
}

#email-template-list {
    padding: 0;
}

.property-list {
    max-width: 1200px;
    min-width: 50vw;
}

#settings-kyc-link-template {
    min-width: 23vw;
}

md-toast.md-top {
    top: 64px;
}

.md-toast-success .md-toast-content {
    background-color: #087f23 !important;
}

.md-toast-error .md-toast-content {
    background-color: #ba000d !important;
}

md-input-container.errors {
    margin: 0;
}

md-input-container input[type=time] {
    font-size: 14px;
}

.md-secondary-container md-input-container {
    margin: 0;
}

.md-secondary-container md-input-container .md-errors-spacer {
    min-height: 0px !important;
}

.campaign-settings md-list-item p {
    text-align: right !important;
}
.campaign-settings md-list-item .md-list-item-inner > p {
    text-align: right !important;
}
.campaign-settings md-list-item .md-secondary-container {
    min-width: 50%;
    padding-left: 15px;
}
.campaign-settings md-list-item md-switch {
    margin-left: 0px !important;
}

.campaign-info md-list-item p {
    text-align: right !important;
}
.campaign-info md-list-item .md-secondary-container {
    min-width: 50%;
    padding-left: 15px;
}