#dialogContent_auth-dialog {
    height: 270px;
    width: 300px;
}

#sidenav {
    width: 20vw;
}

#email-template-editor {
    overflow: hidden;
}

#email-template-save-button {
    position: absolute;
    right: 16px;
    top: 16px;
}

.md-toast-success .md-toast-content {
    background-color: #087f23 !important;
}

.md-toast-error .md-toast-content {
    background-color: #ba000d !important;
}

md-input-container.errors {
    margin: 0;
}