<md-dialog id="email-template-history-dialog" layout="column">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h6>History of {{$ctrl.templateId}} changes</h6>
            <div flex></div>
            <md-button class="md-icon-button" ng-click="$ctrl.close()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content flex layout="row">
        <md-content flex="25" md-colors="$ctrl.appColors.sidepanelColors()">
            <md-list class="no-padding">
                <md-list-item class="md-2-line"
                              ng-repeat="h in $ctrl.history | orderBy:'-changedUtc'" 
                              ng-click="$ctrl.selectHistoryItem(h)"
                              md-colors="$ctrl.appColors.selectionColors(h == $ctrl.selectedItem)">
                    <div class="md-list-item-text" layout="column">
                        <h4>{{h.changedUtc | date : 'yyyy-MM-dd HH:mm'}}<span ng-if="h.username"> by {{h.username}}</span></h4>
                        <p class="light">{{h.subject}}</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
        <div id="email-template-history-body-editor" flex="75"></div>
    </md-dialog-content>
</md-dialog>