<aside id="sidenav" class="layout-column">
    <a href="" ng-click="vm.toggleSidenav()">
        <md-icon class="logo" md-svg-src="content/images/logo-lykke.svg"></md-icon>
        <span class="title md-caption">Lykke ICO Platform</span>
    </a>
    <a ng-repeat="r in vm.routes" ng-href="{{r.link}}" ng-class="{ active: r.isActive }">
        <md-icon>{{r.icon}}</md-icon>
        <span class="title md-caption">{{r.name}}</span>
        <span class="arrow"></span>
    </a>
</aside>

<ng-view class="flex layout-column md-content"></ng-view>


