<md-list class="property-list campaign-settings" ng-if="$ctrl.settings">
   
    <md-subheader class="md-no-sticky">Common</md-subheader>
    <md-list-item>
        <p>Round down token decimals to:</p>
        <div class="md-secondary">
            <md-input-container>
                <input ng-model="$ctrl.settings.rowndDownTokenDecimals" type="number" min="0">
            </md-input-container>
        </div>
    </md-list-item>
    <md-list-item>
        <p>Minimal ETH/USD exchange rate:</p>
        <div class="md-secondary">
            <md-input-container>
                <input ng-model="$ctrl.settings.minEthExchangeRate" type="number" min="0">
            </md-input-container>
        </div>
    </md-list-item>
    <md-list-item>
        <p>Minimal BTC/USD exchange rate:</p>
        <div class="md-secondary">
            <md-input-container>
                <input ng-model="$ctrl.settings.minBtcExchangeRate" type="number" min="0">
            </md-input-container>
        </div>
    </md-list-item>

    <md-list-item>
        <p>Enable front-end:</p>
        <md-switch class="md-secondary" ng-model="$ctrl.settings.enableFrontEnd"></md-switch>
    </md-list-item>

    <md-list-item>
        <p>Use CAPTCHA:</p>
        <md-switch class="md-secondary" ng-model="$ctrl.settings.captchaEnable"></md-switch>
    </md-list-item>

    <md-list-item>
        <p>CAPTCHA secret key:</p>
        <div class="md-secondary">
            <md-input-container>
                <input id="settings-kyc-link-template" ng-model="$ctrl.settings.captchaSecret" type="text">
            </md-input-container>
        </div>
    </md-list-item>

    <md-divider></md-divider>

    <md-subheader class="md-no-sticky">Pre-sale</md-subheader>
    <md-list-item>
        <p>Minimal investment amount (USD):</p>
        <div class="md-secondary">
            <md-input-container>
                <input ng-model="$ctrl.settings.preSaleMinInvestAmountUsd" type="number" min="0">
            </md-input-container>
        </div>
    </md-list-item>
    <md-list-item>
        <p>Register starts (UTC):</p>
        <div class="md-secondary">
            <md-input-container>
                <input ng-model="$ctrl.settings.preSaleStartDateTimeUtc" type="datetime-local" ng-model-options="{ timezone: '-0000' }">
            </md-input-container>
        </div>
    </md-list-item>
    <md-list-item>
        <p>Register ends (UTC):</p>
        <div class="md-secondary">
            <md-input-container>
                <input ng-model="$ctrl.settings.preSaleEndDateTimeUtc" type="datetime-local" ng-model-options="{ timezone: '-0000' }">
            </md-input-container>
        </div>
    </md-list-item>
    <md-list-item>
        <p>SMARC tokens amount:</p>
        <div class="md-secondary">
            <md-input-container>
                <input ng-model="$ctrl.settings.preSaleSmarcAmount" type="number" min="0">
            </md-input-container>
        </div>
    </md-list-item>
    <md-list-item>
        <p>SMARC token price (USD):</p>
        <div class="md-secondary">
            <md-input-container>
                <input ng-model="$ctrl.settings.preSaleSmarcPriceUsd" type="number" min="0">
            </md-input-container>
        </div>
    </md-list-item>

    <md-list-item>
        <p>LOGI tokens amount:</p>
        <div class="md-secondary">
            <md-input-container>
                <input ng-model="$ctrl.settings.preSaleLogiAmount" type="number" min="0">
            </md-input-container>
        </div>
    </md-list-item>
    <md-list-item>
        <p>LOGI token price (USD):</p>
        <div class="md-secondary">
            <md-input-container>
                <input ng-model="$ctrl.settings.preSaleLogiPriceUsd" type="number" min="0">
            </md-input-container>
        </div>
    </md-list-item>

    <md-divider></md-divider>

    <md-subheader class="md-no-sticky">Crowd-sale</md-subheader>
    <md-list-item>
        <p>Minimal investment amount (USD):</p>
        <div class="md-secondary">
            <md-input-container>
                <input ng-model="$ctrl.settings.crowdSaleMinInvestAmountUsd" type="number" min="0">
            </md-input-container>
        </div>
    </md-list-item>
    <md-list-item>
        <p>Register starts (UTC):</p>
        <div class="md-secondary">
            <md-input-container>
                <input ng-model="$ctrl.settings.crowdSaleStartDateTimeUtc" type="datetime-local" ng-model-options="{ timezone: '-0000' }">
            </md-input-container>
        </div>
    </md-list-item>
    <md-list-item>
        <p>Register ends (UTC):</p>
        <div class="md-secondary">
            <md-input-container>
                <input ng-model="$ctrl.settings.crowdSaleEndDateTimeUtc" type="datetime-local" ng-model-options="{ timezone: '-0000' }">
            </md-input-container>
        </div>
    </md-list-item>

    <md-list-item>
        <p>1st tier - SMARC tokens amount:</p>
        <div class="md-secondary">
            <md-input-container>
                <input ng-model="$ctrl.settings.crowdSale1stTierSmarcAmount" type="number" min="0">
            </md-input-container>
        </div>
    </md-list-item>
    <md-list-item>
        <p>1st tier - SMARC token price (USD):</p>
        <div class="md-secondary">
            <md-input-container>
                <input ng-model="$ctrl.settings.crowdSale1stTierSmarcPriceUsd" type="number" min="0">
            </md-input-container>
        </div>
    </md-list-item>
    <md-list-item>
        <p>1st tier - LOGI tokens amount:</p>
        <div class="md-secondary">
            <md-input-container>
                <input ng-model="$ctrl.settings.crowdSale1stTierLogiAmount" type="number" min="0">
            </md-input-container>
        </div>
    </md-list-item>
    <md-list-item>
        <p>1st tier - LOGI token price (USD):</p>
        <div class="md-secondary">
            <md-input-container>
                <input ng-model="$ctrl.settings.crowdSale1stTierLogiPriceUsd" type="number" min="0">
            </md-input-container>
        </div>
    </md-list-item>

    <md-list-item>
        <p>2nd tier - SMARC tokens amount:</p>
        <div class="md-secondary">
            <md-input-container>
                <input ng-model="$ctrl.settings.crowdSale2ndTierSmarcAmount" type="number" min="0">
            </md-input-container>
        </div>
    </md-list-item>
    <md-list-item>
        <p>2nd tier - SMARC token price (USD):</p>
        <div class="md-secondary">
            <md-input-container>
                <input ng-model="$ctrl.settings.crowdSale2ndTierSmarcPriceUsd" type="number" min="0">
            </md-input-container>
        </div>
    </md-list-item>
    <md-list-item>
        <p>2nd tier - LOGI tokens amount:</p>
        <div class="md-secondary">
            <md-input-container>
                <input ng-model="$ctrl.settings.crowdSale2ndTierLogiAmount" type="number" min="0">
            </md-input-container>
        </div>
    </md-list-item>
    <md-list-item>
        <p>2nd tier - LOGI token price (USD):</p>
        <div class="md-secondary">
            <md-input-container>
                <input ng-model="$ctrl.settings.crowdSale2ndTierLogiPriceUsd" type="number" min="0">
            </md-input-container>
        </div>
    </md-list-item>

    <md-list-item>
        <p>3rd tier - SMARC tokens amount:</p>
        <div class="md-secondary">
            <md-input-container>
                <input ng-model="$ctrl.settings.crowdSale3rdTierSmarcAmount" type="number" min="0">
            </md-input-container>
        </div>
    </md-list-item>
    <md-list-item>
        <p>3rd tier - SMARC token price (USD):</p>
        <div class="md-secondary">
            <md-input-container>
                <input ng-model="$ctrl.settings.crowdSale3rdTierSmarcPriceUsd" type="number" min="0">
            </md-input-container>
        </div>
    </md-list-item>
    <md-list-item>
        <p>3rd tier - LOGI tokens amount:</p>
        <div class="md-secondary">
            <md-input-container>
                <input ng-model="$ctrl.settings.crowdSale3rdTierLogiAmount" type="number" min="0">
            </md-input-container>
        </div>
    </md-list-item>
    <md-list-item>
        <p>3rd tier - LOGI token price (USD):</p>
        <div class="md-secondary">
            <md-input-container>
                <input ng-model="$ctrl.settings.crowdSale3rdTierLogiPriceUsd" type="number" min="0">
            </md-input-container>
        </div>
    </md-list-item>

    <md-divider></md-divider>

    <md-subheader class="md-no-sticky">KYC</md-subheader>
    <md-list-item>
        <p>Send Requests:</p>
        <md-switch class="md-secondary" ng-model="$ctrl.settings.kycEnableRequestSending"></md-switch>
    </md-list-item>
    <md-list-item>
        <p>Campaign Id:</p>
        <div class="md-secondary">
            <md-input-container>
                <input ng-model="$ctrl.settings.kycCampaignId" type="text">
            </md-input-container>
        </div>
    </md-list-item>
    <md-list-item>
        <p>Link Template:</p>
        <div class="md-secondary">
            <md-input-container>
                <input id="settings-kyc-link-template" ng-model="$ctrl.settings.kycLinkTemplate" type="text" >
            </md-input-container>
        </div>
    </md-list-item>
    <md-list-item>
        <p>Encryption Key (AES):</p>
        <div class="md-secondary">
            <md-input-container>
                <input id="settings-kyc-link-template" ng-model="$ctrl.settings.kycServiceEncriptionKey" type="text">
            </md-input-container>
        </div>
    </md-list-item>
    <md-list-item>
        <p>Encryption IV (AES):</p>
        <div class="md-secondary">
            <md-input-container>
                <input id="settings-kyc-link-template" ng-model="$ctrl.settings.kycServiceEncriptionIv" type="text">
            </md-input-container>
        </div>
    </md-list-item>

</md-list>