<md-list class="property-list" ng-if="$ctrl.settings">
    <md-subheader class="md-no-sticky">General</md-subheader>
    <md-list-item>
        <p>Minimal investment amount (USD):</p>
        <div class="md-secondary">
            <md-input-container>
                <input ng-model="$ctrl.settings.minInvestAmountUsd" type="number" min="0">
            </md-input-container>
        </div>
    </md-list-item>
    <md-list-item>
        <p>Round down token decimals to:</p>
        <div class="md-secondary">
            <md-input-container>
                <input ng-model="$ctrl.settings.rowndDownTokenDecimals" type="number" min="0">
            </md-input-container>
        </div>
    </md-list-item>
    <md-list-item>
        <p>Enable front-end:</p>
        <md-switch class="md-secondary" ng-model="$ctrl.settings.enableFrontEnd"></md-switch>
    </md-list-item>
    <md-list-item>
        <p>Use CAPTCHA:</p>
        <md-switch class="md-secondary" ng-model="$ctrl.settings.captchaEnable"></md-switch>
    </md-list-item>
    <md-list-item>
        <p>CAPTCHA secret key:</p>
        <div class="md-secondary">
            <md-input-container>
                <input class="wide" ng-model="$ctrl.settings.captchaSecret" type="text">
            </md-input-container>
        </div>
    </md-list-item>
    <md-divider></md-divider>
    <md-subheader class="md-no-sticky">Pre-sale</md-subheader>
    <md-list-item>
        <p>Starts:</p>
        <div class="md-secondary">
            <md-datepicker ng-model="$ctrl.settings.preSaleStartDateTimeUtc" md-hide-icons="triangle"></md-datepicker>
            <md-input-container>
                <input ng-model="$ctrl.settings.preSaleStartDateTimeUtc" type="time">
            </md-input-container>
        </div>
    </md-list-item>
    <md-list-item>
        <p>Ends:</p>
        <div class="md-secondary">
            <md-datepicker ng-model="$ctrl.settings.preSaleEndDateTimeUtc" md-hide-icons="triangle"></md-datepicker>
            <md-input-container>
                <input ng-model="$ctrl.settings.preSaleEndDateTimeUtc" type="time">
            </md-input-container>
        </div>
    </md-list-item>
    <md-list-item>
        <p>Tokens amount:</p>
        <div class="md-secondary">
            <md-input-container>
                <input ng-model="$ctrl.settings.preSaleTokenAmount" type="number" min="0">
            </md-input-container>
        </div>
    </md-list-item>
    <md-list-item>
        <p>Token price (USD):</p>
        <div class="md-secondary">
            <md-input-container>
                <input ng-model="$ctrl.settings.preSaleTokenPriceUsd" type="number" min="0">
            </md-input-container>
        </div>
    </md-list-item>
    <md-divider></md-divider>
    <md-subheader class="md-no-sticky">Crowd-sale</md-subheader>
    <md-list-item>
        <p>Starts:</p>
        <div class="md-secondary">
            <md-datepicker ng-model="$ctrl.settings.crowdSaleStartDateTimeUtc" md-hide-icons="triangle"></md-datepicker>
            <md-input-container>
                <input ng-model="$ctrl.settings.crowdSaleStartDateTimeUtc" type="time">
            </md-input-container>
        </div>
    </md-list-item>
    <md-list-item>
        <p>Ends:</p>
        <div class="md-secondary">
            <md-datepicker ng-model="$ctrl.settings.crowdSaleEndDateTimeUtc" md-hide-icons="triangle"></md-datepicker>
            <md-input-container>
                <input ng-model="$ctrl.settings.crowdSaleEndDateTimeUtc" type="time">
            </md-input-container>
        </div>
    </md-list-item>
    <md-list-item>
        <p>1st tier - tokens amount:</p>
        <div class="md-secondary">
            <md-input-container>
                <input ng-model="$ctrl.settings.crowdSale1stTierTokenAmount" type="number" min="0">
            </md-input-container>
        </div>
    </md-list-item>
    <md-list-item>
        <p>1st tier - token price (USD):</p>
        <div class="md-secondary">
            <md-input-container>
                <input ng-model="$ctrl.settings.crowdSale1stTierTokenPriceUsd" type="number" min="0">
            </md-input-container>
        </div>
    </md-list-item>
    <md-list-item>
        <p>2nd tier - tokens amount:</p>
        <div class="md-secondary">
            <md-input-container>
                <input ng-model="$ctrl.settings.crowdSale2ndTierTokenAmount" type="number" min="0">
            </md-input-container>
        </div>
    </md-list-item>
    <md-list-item>
        <p>2nd tier - token price (USD):</p>
        <div class="md-secondary">
            <md-input-container>
                <input ng-model="$ctrl.settings.crowdSale2ndTierTokenPriceUsd" type="number" min="0">
            </md-input-container>
        </div>
    </md-list-item>
    <md-list-item>
        <p>3rd tier - tokens amount:</p>
        <div class="md-secondary">
            <md-input-container>
                <input ng-model="$ctrl.settings.crowdSale3rdTierTokenAmount" type="number" min="0">
            </md-input-container>
        </div>
    </md-list-item>
    <md-list-item>
        <p>3rd tier - token price (USD):</p>
        <div class="md-secondary">
            <md-input-container>
                <input ng-model="$ctrl.settings.crowdSale3rdTierTokenPriceUsd" type="number" min="0">
            </md-input-container>
        </div>
    </md-list-item>
    <md-divider></md-divider>
    <md-subheader class="md-no-sticky">KYC</md-subheader>
    <md-list-item>
        <p>Send Requests:</p>
        <md-switch class="md-secondary" ng-model="$ctrl.settings.kycEnableRequestSending"></md-switch>
    </md-list-item>
    <md-list-item>
        <p>Campaign Id:</p>
        <div class="md-secondary">
            <md-input-container>
                <input ng-model="$ctrl.settings.kycCampaignId" type="text">
            </md-input-container>
        </div>
    </md-list-item>
    <md-list-item>
        <p>Link Template:</p>
        <div class="md-secondary">
            <md-input-container>
                <input class="wide" ng-model="$ctrl.settings.kycLinkTemplate" type="text">
            </md-input-container>
        </div>
    </md-list-item>
    <md-list-item>
        <p>Encryption Key (AES):</p>
        <div class="md-secondary">
            <md-input-container>
                <input class="wide" ng-model="$ctrl.settings.kycServiceEncriptionKey" type="text">
            </md-input-container>
        </div>
    </md-list-item>
    <md-list-item>
        <p>Encryption IV (AES):</p>
        <div class="md-secondary">
            <md-input-container>
                <input class="wide" ng-model="$ctrl.settings.kycServiceEncriptionIv" type="text">
            </md-input-container>
        </div>
    </md-list-item>
    <md-divider></md-divider>
    <md-subheader class="md-no-sticky">Transaction Queue SAS URL</md-subheader>
    <div layout="row" layout-align="center center" layout-padding ng-if="$ctrl.settings.commonSettings.transactionQueueSasUrl">
        <p class="md-body-1">{{$ctrl.truncateTransactionQueueSasUrl()}}</p>
    </div>
    <md-list-item>
        <p>Expiry Time:</p>
        <div class="md-secondary">
            <md-datepicker ng-model="$ctrl.transactionQueueSasExpiryTime" md-hide-icons="triangle"></md-datepicker>
            <md-input-container>
                <input ng-model="$ctrl.transactionQueueSasExpiryTime" type="time">
            </md-input-container>
            <md-button class="md-primary" ng-click="$ctrl.generateTransactionQueueSasUrl()">Generate</md-button>
        </div>
    </md-list-item>
    <md-divider></md-divider>
    <md-subheader class="md-no-sticky">SMTP</md-subheader>
    <md-list-item>
        <p>Host:</p>
        <div class="md-secondary">
            <md-input-container>
                <input ng-model="$ctrl.settings.commonSettings.smtp.host" type="text">
            </md-input-container>
        </div>
    </md-list-item>
    <md-list-item>
        <p>Port:</p>
        <div class="md-secondary">
            <md-input-container>
                <input ng-model="$ctrl.settings.commonSettings.smtp.port" type="number">
            </md-input-container>
        </div>
    </md-list-item>
    <md-list-item>
        <p>Local Domain:</p>
        <div class="md-secondary">
            <md-input-container>
                <input ng-model="$ctrl.settings.commonSettings.smtp.localDomain" type="text">
            </md-input-container>
        </div>
    </md-list-item>
    <md-list-item>
        <p>Login:</p>
        <div class="md-secondary">
            <md-input-container>
                <input ng-model="$ctrl.settings.commonSettings.smtp.login" type="text">
            </md-input-container>
        </div>
    </md-list-item>
    <md-list-item>
        <p>Password:</p>
        <div class="md-secondary">
            <md-input-container>
                <input ng-model="$ctrl.settings.commonSettings.smtp.password" type="password">
            </md-input-container>
        </div>
    </md-list-item>
    <md-list-item>
        <p>Display Name:</p>
        <div class="md-secondary">
            <md-input-container>
                <input ng-model="$ctrl.settings.commonSettings.smtp.displayName" type="text">
            </md-input-container>
        </div>
    </md-list-item>
    <md-list-item>
        <p>From:</p>
        <div class="md-secondary">
            <md-input-container>
                <input ng-model="$ctrl.settings.commonSettings.smtp.from" type="text">
            </md-input-container>
        </div>
    </md-list-item>
</md-list>