<md-dialog id="auth-dialog">
    <form name="loginForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h6>Login</h6>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div layout="column" layout-padding>
                <md-input-container>
                    <label>Username</label>
                    <input type="text" name="username" ng-model="$ctrl.credentials.username" ng-required="true" md-autofocus/>
                    <div ng-messages="loginForm.username.$error">
                        <div ng-message="required">Username is required</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input type="password" name="password" ng-model="$ctrl.credentials.password" ng-required="true" />
                    <div ng-messages="loginForm.password.$error">
                        <div ng-message="required">Password is required</div>
                    </div>
                </md-input-container>
                <md-input-container class="no-margin">
                    <!--due to specific styling place error messages within md-input-container-->
                    <div ng-messages="$ctrl.errors" ng-show="$ctrl.errors.forbidden">
                        <div ng-message="forbidden">Access denied</div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <input type="submit" class="md-button md-ink-ripple" ng-click="$ctrl.login()" ng-disabled="loginForm.$invalid" value="Login" />
        </md-dialog-actions>
    </form>
</md-dialog>